*{
    color: black;
}

.from-title {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
}

.from-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.from-control button{
    margin-top: 20px;
    width: 415px;
    height: 44px;
    background: rgba(255, 153, 0, 0.3);
    color: black;
    border: none;
    transition: 0.4s;
}
.from-control button:hover{
    background: rgba(184, 110, 0, 0.734);
}

.from-container {
    margin: 40px auto;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    width: 500px;
    height: auto;
    box-shadow: -11px -9px 0px #FFE0B3
}

.from-control input {
    width: 415px;
    height: 44px;
    background: none;
    border: 1px solid hsl(203, 9%, 62%);
    border-radius: 8px;
    margin-bottom: 20px;
    padding-left: 14px;
}

.input-filed {
    display: flex;
    flex-direction: column;
}

.input-filed label {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    padding: 0 0 10px 10px;

}

.other-sing-in-border{
    display: flex;
    align-items: center;
    gap: 20px;

}

.other-sing-in-border div{
    width: 145px;
    border: 1px solid #95A0A7;
    height: 0px;
}

.text-error{
    color: red;
    font-size: 15px;
    margin: 0;
}