.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;

}

.nav-items a{
    text-decoration: none;
    color: white;
    margin-left: 32px;
    transition: 0.3s;
}

.nav-items a:hover{
    color: orange;
}

.logOut-btn{
    color: white;
    background-color: #FF9900;
    outline: none;
    border: 2px solid rgba(255, 166, 0, 0);
    margin-left: 10px;
    transition: 0.4s;

}

.logOut-btn:hover{
    color: orange;
    background-color: #0622347e;
    border: 2px solid orange;
}